.content {
  background-color: rgb(218, 221, 214);
  grid-area: c;
  padding: 10px;
}
.contentHeader {
  width: 100%;
  min-height: 250px;
  background-color: burlywood;
}
.profile {
  display: flex;
  align-items: center;
  background-color: rgb(163, 178, 179);
  padding: 10px 20px;
  margin-top: 5px;
}
.profileFoto {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 20px;
}
.foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: chocolate;
}
.userPosts {
  margin-top: 5px;
  padding: 5px 10px;
}
.newPost {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 220, 216);
  padding: 10px;
  border: 2px solid grey;
  border-radius: 15px;
  margin-bottom: 15px;
}
.textPost {
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.addBtn {
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  align-self: flex-end;
}
