.content {
  background-color: rgb(175, 211, 138);
  grid-area: c;
  padding: 10px;
}
.contentHeader {
  width: 100%;
  min-height: 250px;
  background-color: burlywood;
}
.profile{
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding: 10px 20px;
  margin-top: 5px;
}
.profileFoto{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 20px;
  /* padding: 5px; */
}
.foto{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: chocolate;
}