.accordeon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;
}
.accordeon-item{
    padding: 5px;
    min-width:90px;
}
.accordeon-item-title{
    background-color: cadetblue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.accordeon-item-title:hover{
    background-color: rgb(158, 204, 206);
}
.accordeon-item-contetnt{
    display: none;
    border: 2px solid rgb(126, 111, 92);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.accordeon-item-contetnt:hover{
    background-color: rgb(188, 191, 192);
}

.active .accordeon-item-contetnt{
    display: block;

}